beartype==0.18.5
diffdrr==0.3.9
einops==0.8.2
fastcore==1.7.1
h5py==3.11.0
imageio==2.35.1
jaxtyping==0.3.9
kornia==0.8.2
matplotlib==3.8.4
nibabel==5.4.2
numpy==2.4.4
pandas==3.0.2
Pillow==12.2.0
pytorch_transformers==1.2.0
pyvista==0.44.1
scipy==1.17.1
SimpleITK==2.3.1
SimpleITK==2.5.4
skimage==0.0
submitit==1.5.4
timm==0.9.12
torch==2.5.1
torchio==1.1.1
torchmetrics==1.4.1
torchvision==0.20.1
tqdm==4.67.1
vtk==9.3.1
